<%= form_with(model: search, local: true) do |form| %>
  <% if search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
        <% search.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category %>
    <%= form.collection_select :category, Category.all, :category,:category, :prompt => "カテゴリ選択"%>
    <%= link_to new_category_path do %><button class="button" type="submit">カテゴリ登録</button><% end %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>
  <%= form.hidden_field :despriction %>
  <%= form.hidden_field :title %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
