<%= render 'part_common/search_text_field' %>

<div class= "base_layout">
    <% if !@search_result.blank? %>
        <% @search_result.each do |result| %>
            <div class="search_result">
                <div class="title">
                    <a href="<%= result.url %>"><%= result.title %></a>
                </div>
                <%= result.description %><br>
                <a href="<%= result.url %>"><%= result.url %></a>
            </div>
        <% end %>
    <% else %>
        <%= @unsearch_result %>
    <% end %>
</div>